<!-- templates/registration/signup.html -->
{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

<!-- removed nav bar -->
{% block auth %} {% endblock %}

{% block content %}
<h2>Sign up</h2>
<p>I KNOW IT IS ROUGH, LEAVE ME ALONE :cry:</p>
<form method="post">
  {% csrf_token %}
  {{ form }}
  <button type="submit">Sign Up</button>
</form>
{% endblock %}

<!-- removed footer -->
{% block footer %} {% endblock %}

<!-- reminder to self, add these files to rework the corresponding UI:
password_change_done.html
password_change_form.html
password_reset_confirm.html
password_reset_done.html
password_reset_form.html
-->