{% extends 'base.html' %}

{% block title %}Home - {{ block.super }}{% endblock %}

{% block content %}
<div class="text-center py-2">
    <div class="col-lg py-3">
        <div class="card bg-light" style="height: 500px;">
            <div class="card-body d-flex justify-content-center flex-column align-items-center">
                <h1 class="display-4 m-5">{{ page_title }}</h1>
                <p class="lead text-muted mb-5">{{ description }}</p>
                <p><a href="{% url 'password_change' %}">Password Change</a></p>
                {% block auth2 %}
                {% if user.is_authenticated %}
                <p><a href="{% url 'password_reset' %}">Password Reset</a></p>
                {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="col-lg py-3">
        <div class="card bg-light" style="height: 200px;">
            <div class="card-body d-flex justify-content-center flex-column align-items-center">
                <p id="about" class="lead text-muted">About Us</p>
            </div>
        </div>
    </div>
    <div class="col-lg py-3">
        <div class="card bg-light" style="height: 200px;">
            <div class="card-body d-flex justify-content-center flex-column align-items-center">
                <p id="contact" class="lead text-muted">Contact Us</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}