<!DOCTYPE html>
<html>
<head>
    <title>User Detail</title>
</head>
<body>
    <h1>User Details</h1>

    <ul>
        <li><strong>Username:</strong> {{ user.username }}</li>
        <li><strong>User ID:</strong> {{ user.user_id }}</li>
        <li><strong>Email:</strong> {{ user.email }}</li>
        <li><strong>Organization:</strong> {{ user.organization }}</li>
        <li><strong>Color:</strong> {{ user.get_color_display }}</li>
        <li><strong>Font Size:</strong> {{ user.get_font_size_display }}</li>
        <li><strong>Auto Frequency:</strong> {{ user.get_auto_frequency_display }}</li>
        {% if user.profile_img %}
            <li><strong>Profile Image:</strong> <img src="{{ user.profile_img.url }}" alt="Profile"></li>
        {% endif %}
    </ul>
</body>
</html>